.Downloads {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  border-radius: 22.73px;
  background: linear-gradient(0.96deg, #d142a2 -173.37%, #170e26 99.59%);
  .left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    hgroup {
      font-size: 40px;
      font-weight: 600;
      line-height: 50px;
      color: rgba(255, 255, 255, 1);
    }
    span {
      color: rgba(255, 255, 255, 1);
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
    }
    article {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      > img {
        cursor: pointer;
        width: 50%;
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover > img:nth-child(1) {
      transform: translateX(20px);
    }
    &:hover > img:nth-child(2) {
      transform: translateX(10px);
    }
    &:hover > img:nth-child(4) {
      transform: translateX(-10px);
    }
    &:hover > img:nth-child(5) {
      transform: translateX(-20px);
    }
    > img {
      position: relative;
      transition: all ease 0.4s;
    }
    :nth-child(3) {
      z-index: 5;
    }
    :nth-child(1) {
      transform: translateX(100px);
    }
    :nth-child(2) {
      transform: translateX(60px);
    }
    :nth-child(4) {
      transform: translateX(-60px);
      z-index: 2;
    }
    :nth-child(5) {
      transform: translateX(-100px);
    }
    :nth-child(3) {
      z-index: 5;
    }

    // :nth-child(2) {
    //   transform: translateX(10px);
    // }
    // :nth-child(4) {
    //   transform: translateX(-10px);
    //   z-index: 2;
    // }
    // :nth-child(5) {
    //   transform: translateX(-20px);
    // }
  }
}
