.CardsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
  width: 100%;
  > hgroup {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: -0.6000000238418579px;
    color: rgba(182, 37, 90, 1);
  }
  > article {
    display: flex;
    width: 100%;
    gap: 20px;
    overflow: auto;
    padding: 20px 0px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
